/*
 * Globals
 */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 @import url('https://fonts.googleapis.com/css?family=News+Cycle');

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

#output5 {
  border-style: double double;
}

.cover-container {
  max-width: 42em;
}

p:hover{
  color: aquamarine;
}


#news_info {
  /* background-color: black; */
  border: 1px solid #AAB8C2;

  font-family: News Cycle;
  font-weight: bold;
  background: #fff;
  color: #333;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color: rgb(255, 255, 255);}
  15%  {background-color: #dbfaff;}
  85%  {background-color: #c8f7ff;}
  100% {background-color: rgb(149, 238, 250);}
}