/*
 * Globals
 */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 @import url('https://fonts.googleapis.com/css?family=News+Cycle');

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

div{
  border-radius: 10px;
  width:auto;
}

#output5 {
  border-style: double double;
  border-radius: 12px;
  font-weight: bold;
  padding: 1em;
  border-color: white;
  color: #333;
  animation-name: word-ani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes word-ani {
  0%   {color: #333;}
  15%  {color: Yellow;}
  85%  {color: Yellow;}
  100% {color: #333;}
}

.cover-container {
  max-width: 42em;
}

p.card-text:hover{
  color: aquamarine;
}

#news_info {
  font-family: News Cycle;
  font-weight: bold;
  color: #3E3E3E;;
  animation-name: circle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  height:auto;
  margin: 0;
}

@keyframes circle {
  0%   {background-color: #3E3E3E;}
  15%  {background-color: #8B8B8B;}
  80%  {background-color: #BCBCBC;}
  100% {background-color: #3E3E3E;}
}

.card-body{
  background: #3E3E3E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

#preview {
  margin: 0;
  font-size: 20px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

/*
Link
*/

a{
  text-decoration: none;
  color:#9A9FAA;
}

a:hover{
  font-weight: bold;
  color:#E9E9E9 ;
}

a:active{
  color:#FFC300;
}